@import "/src/general/styles/index.scss";

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &__button {
    border: none;
    border-radius: 50%;
    background-color: $blue-100;
    width: 45px;
    height: 45px;
    color: $white;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      background: $primary-gradient;
    }
  }

  &__active {
    background: $primary-gradient;
  }
}
